/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Fredoka', sans-serif;
    font-size: 100%;
}

.container{
    width: 75%;
    margin: 0 auto;
}
.col{
    background-color: rgb(15 14 23);
    color: white;
    border-color: 2px white;
}