/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Fredoka', sans-serif;
    font-size: 100%;
}

.container{
    width: 75%;
    margin: 0 auto;
}

h1{
    padding: 1.5em;
    color: rgb(225 47 113);
    font-size: 2rem;
}

.title{
    padding-bottom: 1em;
    text-align: center;
}

.col{
    background-color: rgb(15 14 23);
    float:left;
    color: white;
    width: calc(100% / 3 (- 1em));
    display: inline-block;
    padding: 1em;
}

.col span {
    color:rgb(52 147 214) ;
}

.mb{
    margin-bottom: 2em;
}

.mr{
    margin-right: 2em;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.item > img {
    width: 5em;
}
